**/*.jks
**/*.class
**/*.zip
**/*.jar
comrun/bin/node_modules
comrun/bin/package.json
comrun/bin/package-lock.json
todo.txt
deploy
local
**/application-*.properties


#Maven
.mvn
mvnw*
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Plugin directory
/.quarkus/cli/plugins/
codecheck-data/
